{% extends 'base.html' %}

{% block head %}
<meta name="description" content="{{ post['title'] }},{% for tg in post['tags']%}{{tg}},{% end %}{{ handler.settings['site_title'] }},{{ handler.settings['site_description'] }}">
<meta name="keywords" content="{% for tg in post['tags']%}{{tg}},{% end %}"> 
{% end %}

{% block title %}
{{ post['title'] }} | {{ handler.settings['site_title'] }}
{% end %}

{% block content %}
<div class="wrapper">
	<article>
		<h1><a href="{{ post['file_name'] }}.html">{{ post['title'] }}</a> <small class="pull-right">{{ post['date'] }}</small></h1>
		{% raw post['content'] %}
	</article>
	<div>
		{% for tag in post['tags'] %}
		<a class="label" href="tag_{{ tag }}.html">{{ tag }}</a>
		{% end %} 
	</div>
	<hr>
	<ul class="pager">
		{% if prev %}
		<li class="previous">
			<a href="{{ prev['file_name'] }}.html">&larr; {{ prev['title'] }}</a>
		</li>
		{% end %}
	
		{% if next %}
		<li class="next">
			<a href="{{ next['file_name'] }}.html">{{ next['title'] }} &rarr;</a>
		</li>
		{% end %}
	</ul>

	<hr>
    {% if post['comment_open'] %}
	{% if handler.settings['comment_system'] == 'disqus' and handler.settings['disqus_shortname'] %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://{{ handler.settings["disqus_shortname"] }}.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% end %}
    {% if handler.settings['comment_system'] == 'duoshuo' and handler.settings['duoshuo_shortname'] %}
    <div class="ds-thread"></div>
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"{{ handler.settings['duoshuo_shortname'] }}"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';
            ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    {% end %}
	{% end %}
</div>
{% end %}