<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    {% block head %}{% end %}
    <title>{% block title %}{{ handler.settings['site_title'] }}{% end %}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="{{ handler.settings['static_url'] }}/css/effector.css" type="text/css" />
    <link rel="stylesheet" href="{{ handler.settings['static_url'] }}/css/pygments_style.css" type="text/css" />
    <link rel="alternate" type="application/rss+xml" href="{{ handler.settings['feed'] }}" title="{{ handler.settings['site_title'] }}" />
    {% if handler.settings['google_analytics'] %}
    <script type="text/javascript">
    
    	var _gaq = _gaq || [];
    	_gaq.push(['_setAccount', '{{ handler.settings['google_analytics'] }}']);
    	_gaq.push(['_trackPageview']);
    
    	(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    	})();
    
    </script>
    {% end %}
</head>
<body>
    <div class="container">
		<h1 class="sitename">{{ handler.settings['site_title'] }}</h1>
		<div class="nav">
		    <a href="/">Home</a>
		    <a href="/archives.html">Archives</a>
		    <a href="/tags.html">Tags</a>
		    <a href="/links.html">Links</a>
	    	{% block content %}
	    	{% end %}
	    </div>
	    <footer>
	        <p><small>
		    Powered by <a href="https://github.com/whtsky/catsup">CATSUP</a>
		     | 
		    <a href="https://github.com/pala/pala.github.com">Effector Theme</a> by <a href="http://ztpala.com">Tao Zhang</a>
		     | 
	        Hosted on <a href="https://whmcs.hangssh.info/aff.php?aff=144">Host700</a> 
	        </small></p>
	        <!-- inspired by http://effectortheme.tumblr.com/ -->
	    </footer>
	</div>
</body>
</html>