<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ handler.settings['site_title'] }}{% end %}</title>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/pygments_style.css" type="text/css" />
    <link rel="alternate" type="application/rss+xml" href="{{ handler.settings['feed'] }}" title="{{ handler.settings['site_title'] }}" />
</head>
<body>
<div id="header">
    <div id="nav_wrapper">
        <div id="nav">
            <div class="inner">
                <h1 id="title"><a href="/">{{ handler.settings['site_title'] }}</a></h1>
                <div id="description" class="seal">{{ handler.settings['site_description'] }}</div>
                <ul class="right">
                    {% for link in handler.settings['links'] %}
                    <li><a href="{{ link[1] }}" title="{{ link[2] }}">{{ link[0].capitalize() }}</a></li>
                    <li class="dot">&bull;</a>
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
    <div id="header_inner">
        <div id="social">
            <a href="http://twitter.com/{{ handler.settings['twitter'] }}" target="_blank" title="Follow Me @ Twitter"><img src="/static/image/ic16_twitter.png"></a>
            <a href="http://github.com/{{ handler.settings['github'] }}" target="_blank" title="Fork Me @ Github"><img src="/static/image/ic16_github.png"></a>
            <a href="{{ handler.settings['feed'] }}" target="_blank" title="Subscribe My Blog"><img src="/static/image/ic16_rss.png"></a>
        </div>
        <div class="sep"></div>
    </div>
</div>
<div id="content">
    {% block content %}
    {% end %}
</div>
<div id="footer">
    Powered by <a href="https://github.com/whtsky/catsup">CATSUP</a>
    <span>&bull;</span>
    SealScript Theme by <a href="http://shellex.info">Shellex</a>
</div>

</body>
</html>


