{% extends 'base.html' %}

{% block content %}
<ul id="article_list">
    {% for post in posts[(p-1)*3:p*3] %}
    <li class="list_item">
        <div class="article">
            <div class="inner">
                <h2 class="article_title title"><a href="{{ post['file_name'] }}.html">{{ post['title'] }}</a></h2>
                <div class="article_meta">
                    <span>on</span>
                    {{ post['date'] }}
                </div>

                <div class="text">
                    {{ post['content'] }}
                </div>
            </div>
        </div>
        <div class="sep"></div>
    </li>
    {% end %}
</ul>

{% if p > 1 %}
<a id="prev" href="
{% if p == 2 %}
./
{% else %}
page_{{ p - 1 }}.html
{% end %}
" class="v_nav" >
    <span class="icon">Prev</span>
</a>
{% end %}

{% if len(posts) > p * 3 %}
<a id="next" href="page_{{ p+1 }}.html" class="v_nav" >
    <span class="icon">Next</span>
</a>
{% end %}

{% end %}