{% macro render_comment(post) %}
    {% if post.allow_comment %}
        {% if comment.system == 'disqus'%}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
				var disqus_title = "{{ title }}";
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://{{ comment.shortname }}.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
        {% endif %}
        {% if comment.system == 'duoshuo'%}
            <div class="ds-thread"></div>
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"{{ comment.shortname }}"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';
                    ds.async = true;
                    ds.src = 'http://static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro analytics() %}
    {% if config.analytics %}
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ config.analytics }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    {% endif %}
{% endmacro %}

{% macro meta(post) %}
<meta name="description" content="{{ post.description }}">
<meta name="twitter:creator" content="{{ author.twitter }}">
<meta name="twitter:url" content="{{ site.url }}{{ permalink }}">
<meta name="twitter:title" content="{{ post.title }}">
<meta name="twitter:description" content="{{ post.description }}">
{% endmacro %}