{% macro render_comment(post) %}
    {% if not post.comment_disabled %}
        {% if comment.system == 'disqus' and comment.disqus %}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://{{ comment.disqus }}.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
        {% endif %}
        {% if comment.system == 'duoshuo' and comment.duoshuo %}
            <div class="ds-thread"></div>
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"{{ comment.duoshuo }}"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';
                    ds.async = true;
                    ds.src = 'http://static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
        {% endif %}
    {% endif %}
{% endmacro %}