<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block head %}{% end %}
    <title>{% block title %}{{ config.site_title }}{% end %}</title>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ config.static_url }}/css/style.css?20120722" type="text/css" />
    <link rel="stylesheet" href="{{ config.static_url }}/css/pygments_style.css" type="text/css" />
    <link rel="alternate" type="application/rss+xml" href="{{ config.feed }}" title="{{ config.site_title }}" />
    {% if config.google_analytics %}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ config.google_analytics }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    {% end %}
</head>
<body>
<div id="header">
    <div id="nav_wrapper">
        <div id="nav">
            <div class="inner">
                <h1 id="title"><a href="{{ config.site_url or '/' }}">{{ config.site_title }}</a></h1>
                <div id="description" class="seal">{{ config.site_description }}</div>
                <ul class="right">
                    {% for t in config.tags[:5] %}
                    <li><a href="/tag/{{ t.name }}.html">{{ t.name.capitalize() }}</a></li>
                    <li class="dot">&bull;</li>
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
    <div id="header_inner">
        <div id="social">
            {% if config.twitter %}
            <a href="http://twitter.com/{{ config.twitter }}" target="_blank" title="Follow Me @ Twitter"><img src="{{ config.static_url }}/image/ic16_twitter.png"></a>
            {% end %}
            {% if config.github %}
            <a href="http://github.com/{{ config.github }}" target="_blank" title="Fork Me @ Github"><img src="{{ config.static_url }}/image/ic16_github.png"></a>
            {% end %}
            <a href="{{ config.feed }}" target="_blank" title="Subscribe My Blog"><img src="{{ config.static_url }}/image/ic16_rss.png"></a>
        </div>
        <div class="sep"></div>
    </div>
</div>
<div id="content">
    {% block content %}
    {% end %}
</div>
<div id="footer_wrapper">
    <div id="footer">
        <div id="footer_inner">
            <div class="tag_cloud col">
                <h2>Tag Cloud</h2>
                {% for t in config.tags %}
                <a class="tag" href="/tag/{{ t.name }}.html">{{ t.name.capitalize() }} ({{ t.post_count }})</a>
                {% end %}
            </div>
            <div class="col">
                <h2>Archives</h2>
                <ul>
                    {% for av in config.archives %}
                    <li><a href="/archive/{{ av.name }}.html">{{ av.name }} ({{ av.post_count }})</a></li>
                    {% end %}
                </ul>
            </div>
            <div class="col">
                <h2>Links</h2>
                <ul>
                    {% for link in config.links %}
                    <li><a href="{{ link[1] }}" title="{{ link[2] }}" target="_blank">{{ link[0] }}</a></li>
                    {% end %}
                </ul>
            </div>
            <div class="copyright">
                Powered by <a href="https://github.com/whtsky/catsup">CATSUP</a>
                <span>&bull;</span>
                SealScript Theme by <a href="http://shellex.info">Shellex</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>


