<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>404 NOT FOUND</title>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css" />
    <style type="text/css">
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="content">
        <div class="article">
            <div class="inner">
                <h1 class="title">Hey!</h1>
                <h2>Sorry, the page you were looking does not exist.</h2>
                <p></p>
                <p>
                <a class="button" href="/">Bring me back to earth!</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>


