{% extends 'layout.html' %}

{% block title %}
{{ archive.name }} | {{ site.name }}
{% endblock %}

{% block content %}
<div class="article">
	<div class="inner">
		<h2 class="title">Articles posted in "{{ archive.name }}"</h2>
		<div class="text">
			<ul>
				{% for post in archive.posts %}
				<li>
					<span class="time_stamp">{{ post.date }}</span>
					<a href="{{ post.permalink }}">{{ post.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% if prev %}
<a id="prev" href="/archive/{{ prev.name }}.html" class="v_nav" >
	<span class="icon">Prev</span>
</a>
{% endif %}

{% if next %}
<a id="next" href="/archive/{{ next.name }}.html" class="v_nav" >
	<span class="icon">Next</span>
</a>
{% endif %}

{% endblock %}