{% extends 'layout.html' %}

{% block content %}
<ul id="article_list">
    {% for post in g.posts[(p-1)*config.per_page:p*config.per_page] %}
    <li class="list_item">
        <div class="article">
            <div class="inner">
                <h2 class="article_title title"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
                <div class="article_meta">
                    <span>on</span>
                    {{ post.date }}
                </div>

                <div class="text">
                    {% if config.excerpt_index and post.has_excerpt %}
                    {{ post.excerpt }}
                    {% else %}
                    {{ post.content }}
                    {% endif %}
                </div>
                <div class="article_meta">
                    <span>tagged:</span>
                    {% for tag in post.tags %}
                    <a class="tag" href="/tag/{{ tag }}.html">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="sep"></div>
    </li>
    {% endfor %}
</ul>

{% if p > 1 %}
<a id="prev" href="
{% if p == 2 %}
/
{% else %}
/page/{{ p - 1 }}.html
{% endif %}
" class="v_nav" >
    <span class="icon">Prev</span>
</a>
{% endif %}

{% if posts_num > p * config.per_page %}
<a id="next" href="/page/{{ p + 1 }}.html" class="v_nav" >
    <span class="icon">Next</span>
</a>
{% endif %}

{% endblock %}