{% extends 'layout.html' %}

{% block head %}
<meta name=description content="{{ tag.name }},{{ theme.description }}">
{% endblock %}

{% block title %}
{{ tag.name }} | {{ site.name }}
{% endblock %}

{% block content %}
<div class="article">
    <div class="inner">
        <h2 class="title">Articles Tagged as "{{ tag.name }}"</h2>
        <div class="text">
            <ul>
                {% for post in tag.posts %}
                <li>
                    <span class="time_stamp">{{ post.date }}</span>
                    <a href="{{ post.permalink }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% if prev %}
<a id="prev" href="/tag/{{ prev.name }}.html" class="v_nav" >
    <span class="icon">Prev</span>
</a>
{% endif %}

{% if next %}
<a id="next" href="/tag/{{ next.name }}.html" class="v_nav" >
    <span class="icon">Next</span>
</a>
{% endif %}
{% endblock %}